@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("./fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #474747);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at center,
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@utility radial-gradient-65 {
  background: radial-gradient(
    circle at 50% 65%,
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@utility masked-img {
  mask-image: url("./images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

@layer components {
  main {
    @apply w-full h-full flex flex-col;
  }

  nav {
    @apply fixed w-full flex px-20 py-8 z-50;

    div {
      @apply flex justify-between w-full;

      a p {
        @apply font-modern-negra text-3xl;
      }

      ul {
        @apply flex text-lg gap-15 font-extralight;
      }
    }
  }

  .noisy {
    @apply bg-[url('/images/noise.png')] bg-no-repeat bg-cover absolute;
  }

  #hero {
    @apply flex flex-col w-full h-full;

    .left-leaf {
      @apply absolute w-[19%] bottom-25;
    }

    .right-leaf {
      @apply absolute w-[17%] right-0;
    }

    .title {
      @apply mt-12 font-modern-negra text-[19.5rem] text-center;
    }

    .body {
      @apply relative w-full px-5;

      .content {
        @apply flex justify-between text-lg;

        div:nth-child(1) p:nth-child(1) {
          @apply font-semibold;
        }

        div:nth-child(1) p:nth-child(2) {
          @apply text-[#e7d393] text-6xl font-modern-negra;
        }

        .view-cocktails {
          @apply w-1/5 flex flex-col gap-5;

          a {
            @apply hover:text-[#ffe786b0] font-semibold;
          }
        }
      }
    }
  }

  #cocktails {
    @apply w-full h-full flex overflow-hidden;

    .body {
      @apply flex w-full;

      .left-leaf {
        @apply absolute w-[19%] -bottom-10;
      }

      .right-leaf {
        @apply absolute w-[23%] -right-5 -bottom-10;
      }

      .popular-cocktails {
        @apply w-1/4;
      }

      .loved-cocktails {
        @apply w-1/4;
      }

      .content {
        @apply w-full flex justify-between px-7 text-lg items-center;

        h2 {
          @apply text-xl font-semibold font-sans mb-10;
        }

        ul {
          @apply w-full flex flex-col gap-5 mb-20;

          li {
            @apply flex flex-col;

            span {
              @apply flex gap-2 text-sm;
            }

            span:nth-child(1) {
              @apply justify-between;

              p {
                @apply text-xl;
              }

              p:nth-child(1) {
                @apply font-modern-negra text-3xl text-[#e7d393];
              }
            }
          }
        }
      }
    }
  }

  #about {
    @apply w-full flex flex-col px-7 py-20;

    .header {
      @apply w-full flex justify-between;
    }

    .body {
      @apply w-full grid grid-cols-4 gap-5 pt-15;

      img {
        @apply h-[33.5vh] w-full object-cover rounded-2xl brightness-150 opacity-50;
      }

      div {
        @apply bg-[url('/images/noise.png')] bg-no-repeat bg-cover;
      }

      div:nth-child(2) {
        @apply col-span-2;
      }

      div:nth-child(4) {
        @apply col-span-2;
      }

      div:nth-child(5) {
        @apply col-span-2;
      }
    }
  }

  #art {
    .cocktail-img {
      @apply md:w-[60vw] w-full h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden;
    }
  }

  #slider-container {
    @apply relative w-full h-[120vh] flex flex-col radial-gradient-65 justify-center overflow-hidden;

    #slider-right-leaf {
      @apply absolute w-[23%] -right-5 -top-40;
    }

    #slider-left-leaf {
      @apply absolute w-[19%] -bottom-10;
    }
  }

  #slider {
    @apply relative w-full h-[100vh] flex flex-col justify-between pt-[15vh] pb-[2vh];

    .toggle {
      @apply px-30 flex justify-around font-modern-negra text-3xl relative z-50;

      button {
        @apply outline-none border-none cursor-pointer;

        p {
          @apply px-5 border-b pb-2 text-[#848484];
        }
      }
    }

    .slider-btn {
      @apply flex w-full justify-between font-modern-negra text-3xl px-10 z-50;

      button {
        @apply w-30 flex flex-col cursor-pointer hover:text-[#e7d393];
      }

      button:nth-child(1) {
        @apply items-start;
      }

      button:nth-child(2) {
        @apply items-end;
      }
    }

    .slider-body {
      @apply flex justify-between px-5 h-[35vh] z-50;

      span {
        @apply w-1/3 space-y-5 text-lg;
      }

      span:nth-child(1) {
        @apply self-end;

        p {
          @apply w-1/3 text-[#e7d393] text-6xl font-modern-negra;
        }
      }

      span:nth-child(2) {
        @apply self-center;

        h1 {
          @apply font-serif text-5xl;
        }
        p {
          @apply text-lg;
        }
      }
    }
  }

  .slider-img {
    @apply w-full h-[80vh] absolute flex justify-center items-end;

    img {
      @apply scale-90;
    }
  }
}
